* {box-sizing: border-box;}

body, html{padding: 0;margin: 0;font-family: "Inter", sans-serif;;}

a{
    text-decoration: none;
    color:black ;
}
/* .page-container {
    max-width: 1500px;
    margin: auto;
} */

.title{font-size: 75px; display: flex; text-align: center;display: block; width: 100%;}
.big-text{font-size: 70px;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}
.button{padding: 18px 28px ; background-color: #316bff; color: white; border-radius: 4px;}
.talc{text-align: center; padding: 20px;}

header{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;    
}

.nav a:hover{color: blue;}
.nav li{
    display: inline-block;
    padding: 0px 16px;
}

.hero-contenitor{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.332), rgba(0,0,0,35));
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;

}
.hero{
    height: 600px;display: flex; width: 100%; align-items: center;background: url(foresta.jpg) no-repeat center center;background-size: cover;
    z-index: 0;height: 100vh;
}
.hero__content{
    /* position: relative; */
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    /* bottom: -120px; */
    color: white;
    padding-bottom: 80px;   
}
.hero__content p{position: relative;bottom: 30px;left: 45px;}
.hero-r{
    display: flex; width: 100%;align-items: center;
    height: 600px;
    width: 100%;
    background: url(corsa.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    
}

.heror__content{width: 100%;max-width: 1450px;margin: 0 auto;color: white;padding-bottom: 80px;   }
.heror__content h1 p{
    position: relative;
    bottom: 200px;
    left: 70px;
    color: white;
}

.top{
    display: flex;
    text-align: center;
    padding-top: 30px;
}

.adidasrun{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}

.bot-left{
    position: absolute;
    bottom: 105px;
    left: 60px;
    font-size: 25px;
    padding: 7px;
    border: 3px solid black;
    background-color: white;
    border-radius: 10px;
}

.bot-left a:hover{
    color: blue;
}

@media(max-width: 768px){
    .bot-left a{
       font-size: 10px;
    }
    .arrow{
        width: 10px;
        height: 10px;
    }
    .bot-left{
        bottom: 24px;
        left: 10px;
        padding: 0;
        height: 30px;
        align-items: center;

    }
}

.tips{ margin: 20px 294px;}
.tips ul{list-style-type: none;display: flex; flex-wrap: wrap;}
.tips li{width: 100%;}
/* .tips li p img{width: 50%;} */

.grid{
    display: flex;
    flex-wrap: wrap;
}

.col-25{
    width: 25%;
    padding: 10px;
}

.col-33{
    width: 33.33%;
    padding: 10px;
    text-align: center;
}

.nike img{width:70%;height: 80%;}
.asics{width: 70%;height: 80%;}
.adidas{width: 70%; height: 80%;}

.poster{
    display: flex;
    /* align-items: center; */
}
.sq-50{
    display: flex;
    width: 100%;
    padding: 20px;
}

.poster-content{
    width: 50%;
    padding: 20px;
}

.poster-img{
    width: 50%;
}

.main-carousel{padding: 40px 0px;}

.carousel-cell{display: flex;width: 350px;height: 350px;
    margin-right: 40px;
}

.c1{background: url(newbalace-550.jpg);background-size: cover; background-position-y: bottom;
}

.c2{
    background: url(newbalance-200r.jpg) ;background-size: cover;background-position-y: bottom;
}

.c3{
    background: url(nike-dunkretro.jpg);background-position: 25%;background-size: 100%;background-repeat: no-repeat;
    background-position-y: center;
    position: relative; bottom: 15px;
}
.c4{
    background: url(nike-airjordan1lowog.jpeg) ; background-size: 100%;
    background-repeat: no-repeat;background-position-y: center;
}
.c5{
    background: url(nikexsupreme-airforce1mini.jpg) ;
    background-size: 100%;background-repeat: no-repeat;background-position-y: center;
}
.c6{
    background: url(nike-dunklebronjames_fruitypebbles.jpg) ;background-size: 100%;background-repeat: no-repeat;background-position-y: center;
}

.cr1{background: url(alphafly2.png);background-size: cover; background-position-y: bottom;
}
.cr2{background: url(adiosproevo.png);background-size: cover; background-position-y: bottom;background-position: 35%;
}
.cr3{background: url(glycerinsthealthfit21.png);background-size: cover; background-position-y: bottom;
}
.cr4{background: url(invincible3.png);background-size: cover; background-position-y: bottom;
}

footer{
    background-color: #282C31;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    line-height: 30px;
}

@media (max-width: 768px){
    .col-25{
        width: 50%;
    }
}

@media(max-width: 768px){
    .big-text{font-size: 40px;}
}