* {box-sizing: border-box;}


body, html{padding: 0;margin: 0;font-family: "Inter", sans-serif;;}

a{
    text-decoration: none;
    color:black ;
}
/* .page-container {
    max-width: 1500px;
    margin: auto;
} */

.title{font-size: 75px; display: flex; text-align: center;display: block; width: 100%;}
.big-text{font-size: 70px;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}
.button{padding: 18px 28px ; background-color: #316bff; color: white; border-radius: 4px;}



header{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;    
}


.nav a:hover{
    color: blue;
}

.nav li{
    display: inline-block;
    padding: 0px 16px;
}

.hero-contenitor{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.332), rgba(0,0,0,40));
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;

}

.hero{
    height: 600px;
    display: flex; width: 100%; align-items: center;
    background: url(foresta.jpg) no-repeat center center;
    background-size: cover;
    z-index: 0;
    height: 100vh;
}

.hero__content{
    /* position: relative; */
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    /* bottom: -120px; */
    color: white;
    padding-bottom: 80px;
    

}

.hero__content p{
    position: relative;
    bottom: 30px;
    left: 45px;
}

.top{
    display: flex;
    text-align: center;
    padding-top: 30px;
}

.adidas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}

.bot-left{
    position: absolute;
    bottom: 105px;
    left: 60px;
    font-size: 25px;
    padding: 7px;
    border: 3px solid black;
    background-color: white;
    border-radius: 10px;
}

.bot-left a:hover{
    color: blue;
}


.grid{
    display: flex;
    flex-wrap: wrap;
}

.col-25{
    width: 25%;
    padding: 10px;
}

.poster{
    display: flex;
    /* align-items: center; */
}
.sq-50{
    display: flex;
    width: 100%;
    padding: 20px;
}

.poster-content{
    width: 50%;
    padding: 20px;
}

.poster-img{
    width: 50%;
}

footer{
    background-color: #282C31;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}




@media (max-width: 768px){
    .col-25{
        width: 50%;
    }
}